<!DOCTYPE html>
<html lang='ru'>

<head>
    <meta charset='utf-8'>
	<link href="style.css" rel="stylesheet" type="text/css">
    <title>ООО"Билеты.рф"</title>
		</head>
		<body>
<div class = "main-reg">
<div class = "reg-up">
Админ панель<BR>
</div>
<center>
<FORM method="POST">
<a href="/">Главная</a><BR>
<a href="/product">Редактор товаров</a><BR>
<a href="/useredit">Редактор пользователей</a><BR>
</FORM>
</div>
</div>
</div>
</body>
</html>