<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Добавление пользователя</h1>
     <form method="POST">
        <label>Имя</label><br>
        <input name="name" class="field"/><br><br>
        <label>Пароль</label><br>
        <input name="pas" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку пользователей</a>
</body>
<html>