<!DOCTYPE html>
<html lang='ru'>

<head>
    <meta charset='utf-8'>
	<link href="style.css" rel="stylesheet" type="text/css">
    <title>ООО"Билеты.рф"</title>
		</head>
<div class = "main-reg">
<div class = "reg-up">
Добро пожаловать!<BR>
</div>
<center>
<FORM method="POST">
<div class = "reg-down">
<INPUT type="text" name="name" placeholder="Логин" class="field"><BR>
<INPUT type="password" name="pas" placeholder="Пароль" class="field"><BR>
</center>
<div class = "reg-button">
<INPUT type="submit" value="Авторизация"><BR>
</FORM>
<a class = "reg-button" href="/">Назад</a>
<a class = "reg-button" href="/create">Регистрация</a>
</div>
</div>
</div>
</body>
</html>
